* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  color: #2000ec;
  margin-left: 25px;
}

a:hover {
  text-decoration: underline;
}

body {
  background: url(https://media.giphy.com/media/xT0GqcCJJJH12hJvGM/giphy.gif);
  background: cover;
  background-repeat: repeat-x;
}

header {
  padding: 1%;
  font-size: 16px;
  position: sticky;
  background: #f6e6fa;
}

header h1 {
  display: inline-block;
  font-size: 48px;
  color: #2000ec;
  text-shadow: -3px 3px #a7ff10;
  margin-left: 25px;
}

header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 20px;
  background: #f6e6fa;
}

header div ul {
  list-style-type: none;
}

header div ul li {
  display: inline-block;
  margin-left: 25px;
}

img {
  margin: auto;
  max-width: 200px;
}

footer {
  text-align: right;
}

p {
  font-size: 20px;
}

.contact {
  text-align: center;
  font-size: 20px;
}
/* -------- card    ----------------------------------------*/

.card  {
  background-color: aliceblue;
  padding: 10px;
  border-radius: 5px;
  margin: auto;
  max-width: 800px;
  margin-top: 60px;
  margin-bottom: 20px;
}


/* -------- Contact  ----------------------------------------*/

/* -------- Media Queries ----------------------------------------*/
@media screen and (max-width: 992px) {
  header div {
    margin: auto;
    font-size: 20px;
    background: #f6e6fa;
  }
  .card  {

    padding: 20px;
    border-radius: 5px;
    margin: auto;
    max-width: 800px;
  }
}

@media screen and (max-width: 768px) {
  header div {
    margin: auto;
    font-size: 20px;
    background: #f6e6fa;
  }
  .card  {
    padding: 20px;
    border-radius: 5px;
    margin: 45px;
  }
}

@media screen and (max-width: 576px) {
  header div {
    margin: auto;
    font-size: 20px;
    background: #f6e6fa;
  }
  .card  {
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
  }
}
