* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "Helvetica" sans-serif;
}
a {
  text-decoration: none;
}
body {
  background: url(https://media.giphy.com/media/xT0GqcCJJJH12hJvGM/giphy.gif);
  background: cover;
}

header {
  padding: 1%;
  font-size: 16px;
  position: sticky;
  background-color: plum;
}

header h1 {
  display: inline-block;
  font-size: 48px;
  color: whitesmoke;
  margin-left: 25px;
}

header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: "Montserrat", "Helvetica", sans-serif;
  font-size: 20px;
}

header div ul {
  list-style-type: none;
}

header div ul li {
  display: inline-block;
  margin-left: 25px;
}

.img {
  margin-top: 25px;
  max-width: 25%;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bio {
  background-color: rgba(80, 23, 212, 0.75);
  color: whitesmoke;
  padding: 20px;
  border-radius: 5px;
  margin: 45px;
}

/* Projects */

main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2%;
  justify-content: space-between;
}

.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px;
  background: plum;
  color: #fff;
  font-weight: bold;
}

.project {
  flex: 1 0 0;
  padding: 10px;
  text-align: center;
  border-style: dashed;
  border-color: plum;
  border-width: 3px;
}

.project header {
  padding: 5%;
  background: plum;
  color: blueviolet;
}

.project img {
  width: 100%;
  min-width: 48px;
  background-color: powderblue;
  margin: 2%;
}

.projectfooter {
  background-color: plum;
}

/* Contact */

.contactme {
  margin: 10%;
  display: inline-block;
  align-items: center;
  background-color: cornflowerblue;
}

@media screen and (max-width: 992px) {
  .img {
    margin-top: 25px;
    max-width: 25%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .bio {
    background-color: rgba(80, 23, 212, 0.75);
    color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    margin: 45px;
  }
}

@media screen and (max-width: 768px) {
  .img {
    margin-top: 25px;
    max-width: 25%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .bio {
    background-color: rgba(80, 23, 212, 0.75);
    color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    margin: 45px;
  }
}

@media screen and (max-width: 576px) {
  .img {
    max-width: 50%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .bio {
    background-color: rgba(80, 23, 212, 0.75);
    color: whitesmoke;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
  }
}